

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Node 答疑问答系统</title>
  <% include common/link.ejs %>
</head>
<body>
<% include common/header.ejs %>
<% include common/column.ejs %>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">

      <% include common/listTop.ejs %>
      <% include jie/list.ejs %>

    </div>
    <div class="layui-col-md4">

      <% include common/listStatic.ejs %>
      <% include common/signin.ejs %>
      <% include common/replyRank.ejs %>
      <% include common/listOne.ejs %>
      <% include common/ad.ejs %>

    </div>
  </div>
</div>

<% include common/footer.ejs %>
</body>
</html>