
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <% include ../common/link.ejs %>
</head>
<body>

    <% include ../common/header.ejs %>

<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title">
                <li><a href="/login">登入</a></li>
                <li class="layui-this">注册</li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane">
                        <form method="post">
                            <div class="layui-form-item">
                                <label for="L_email" class="layui-form-label">邮箱</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="email" name="email" required lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">将会成为您唯一的登入名</div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_username" class="layui-form-label">昵称</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="username" name="username" required lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_username" class="layui-form-label">角色</label>
                                <div class="layui-input-inline">
                                    <select id="roleType" name="roleType" lay-filter="roleType">
                                        <option value="学生">学生</option>
                                        <option value="老师">老师</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_pass" class="layui-form-label">密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="pass" name="pass" required lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_repass" class="layui-form-label">确认密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="repass" name="repass" required lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" id="submit" lay-filter="*" lay-submit>立即注册</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    <% include ../common/footer.ejs %>
    <script type="text/javascript" src="/javascripts/md5.js"></script>
    <script>
        layui.use('form', function() {
            var form = layui.form;

            form.render('select');
        });
        $('#submit').click(function () {
            let mail = $('#email').val();
            let username = $('#username').val();
            let password = $('#pass').val();
            let repassword = $('#repass').val();
            let roleType = $('#roleType').find("option:selected").text();
            if(!mail){
                layer.alert('请输入邮箱');
                return ;
            }
            if(!username){
                layer.alert('请输入昵称');
                return ;
            }
            if (password !== repassword) {
                layer.alert('两次密码不一致');
            } else if (!password || password.length < 6) {
                layer.alert('密码长度过短');
            } else {
                let data = {
                    mail: mail,
                    username: username,
                    password: hex_md5(password),
                    roleType: roleType
                };
                $.post('/server/users/signup', data, function (res) {
                    // console.log(res);
                    if (res.status === 'success') {
                        layer.alert('注册成功');
                        window.location.href = '/login';
                    } else {
                        if (res.status === 'failed')
                            $('#email').val('邮件地址重复');
                        layer.alert('登陆失败');
                    }
                });
            }
            return false;
        });
    </script>
</body>
</html>