
<dl class="fly-panel fly-list-one">
    <dt class="fly-panel-title">本周热议</dt>
    <% if(ones) ones.forEach(function (item, index) { %>
    <dd>
        <a href="/server/topics/topic/<%= item.tid %>"><%= item.title %></a>
        <span><i class="iconfont icon-pinglun1"></i> <%= item.visits %></span>
    </dd>
    <% }) %>
    <% if(ones.length==0) { %>
        <div class="fly-none" style="min-height:20px;">没有相关数据</div>
    <% } %>
</dl>