<div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
    <h3 class="fly-panel-title">回贴周榜</h3>
    <dl>
        <% if(replys) replys.forEach(function (item, index) { %>
        <dd>
            <a href="/server/users/home?uid=<%=item.uid %>">
                <%
                    let pic = item.pic;
                    if(item.pic.indexOf("public") != -1){
                        pic=item.pic.substring(item.pic.indexOf("public") + "public".length, item.pic.length)
                    }
                %>
                <img src="<%= pic %>"><cite><%= item.username %></cite><i><%= item.replys %>次回答</i>
            </a>
        </dd>
        <% }) %>
        <% if(replys.length==0) { %>
            <div class="fly-none" style="min-height:20px;">没有相关数据</div>
        <% } %>
    </dl>
</div>